# --- Elixir & BEAM (Preservados de tu otro repo) ---
/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
*.bat
/config/*.secret.exs
.elixir_ls/

# --- Archivos Temporales de Microsoft Excel ---
# Excel crea archivos ocultos que empiezan con ~$ cuando abres un archivo. 
# Esto evita que se suban por accidente al repositorio.
~$*.xlsx
~$*.xls

# --- Python (Preventivo para el futuro) ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# --- REGLA EXCLUIDA ---
# Se eliminó '*.bat' para asegurar que "Iniciar CMD.bat" SÍ se incluya en el repositorio.